*.tbasic linguist-language=thinbasic
*.tbasicc linguist-language=thinbasic
*.tbasicu linguist-language=thinbasic
*.tbasici linguist-language=thinbasic
*.bas linguist-language=PowerBasic
*.inc linguist-language=PowerBasic
